<!DOCTYPE html>
<html>
	<head>
		<title>Quiz</title>
		<link rel='stylesheet' href='/stylesheet/style.css' />
		<link rel='icon' href="images/favicon.ico" type="image/x-icon"/>
	</head>
	<body>
    	<h1>Welcome to <%= title %></h1>

    	<p>Aqui hay quizes y demas movidas POGGERS</p>
  	</body>
</html>